body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #333;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 84%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  background-color: #000000;
  color: #fff;
  padding: 2.0rem;
  border-radius: 1.0rem;
  border: .4rem solid #3498db;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  background-color: #000000;
  color: #fff;
  padding: 2.0rem;
  border-radius: 1.0rem;
  border: .4rem solid #3498db;
}
footer p{
  font-size: 1.4rem;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  justify-content: space-between;
  font-size: 1.7rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1.0rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
.navCategorias:hover{
  transition: 0.7s;
  transform: scale(1.04);
  color: #3498db;

}
.navSobre:hover{
  transition: 0.7s;
  transform: scale(1.04);
  color: #3498db;
}
.Sair:hover{
  transition: 0.7s;
  transform: scale(1.04);
  color: #ff0000;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  padding: 2.0rem;
  align-items: center;
}
.destaques {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  
}
.filme {
  width: 20rem;
  height: 28rem;
  margin-top: 2rem;
  background-color: #ffffff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: .4rem solid #3498db;
  
}
.todosOsFilmes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  
}
.filmes {
  width: 20rem;
  height: 28rem;
  margin-top: 2rem;
  background-color: #ffffff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: .4rem solid #3498db;
  
}

.modalSobre h1 {
  margin-top: 4.3rem;
  position: flex;
  color: white;
  text-align: center;
  font-size: 2.0rem;
}
.modalSinopse h1 {
  margin-top: 4.3rem;
  position: flex;
  color: white;
  text-align: center;
  font-size: 2.0rem;
}
.modalSinopse1 h1 {
  margin-top: 4.3rem;
  position: flex;
  color: white;
  text-align: center;
  font-size: 2.0rem;
}
.modalSinopse2 h1 {
  margin-top: 4.3rem;
  position: flex;
  color: white;
  text-align: center;
  font-size: 2.0rem;
}

h1 {
  position: flex;
  color: white;
  text-align: center;
  font-size: 2.0rem;
}

h2 {
  margin-top: 4.0rem;
  color: white;
  text-align: center;
  font-size: 2.0rem;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
}

h4 {
  color: white;
  text-align: center;
}

p {
  text-align: center;
  color: white;

}

.filme img {
  width: 100%;
  max-width: 177px;
  margin-bottom: .0rem;
  margin-left: 4.0rem;
  border: 2px solid #3498db;
  border-radius: 15px;
  
}
.filme img:hover{
  transition: 0.7s;
  transform: scale(1.04);
  border: 2px solid #3498db;
}
.filmes img {
  width: 100%;
  max-width: 177px;
  margin-bottom: .0rem;
  margin-left: 4.0rem;
  border: 2px solid #3498db;
  border-radius: 15px;
  
}
.filmes img:hover{
  transition: 0.7s;
  transform: scale(1.04);
  border: 2px solid #3498db;
}

.botao {
  margin-left: 1.8rem;
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: .8rem 1.2rem;
  text-decoration: none;
  border-radius: 1rem;
  cursor: pointer;
  border: 4px solid #3498db;

}
.botao:hover{
  transition: 0.7s;
  transform: scale(1.04);
  background-color: #3498db;
  border: 2px solid white;
}

.modal {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}

.modal1 {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}

.modal2 {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}

.modalSobre {
  width: 750px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}

.modalSinopse {
  width: 750px;
  height: 330px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
  padding: .9rem;
}

.modalSinopse1 {
  width: 750px;
  height: 360px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
  padding: .9rem;
}

.modalSinopse2 {
  width: 79rem;
  height: 22rem;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
  padding: .9rem;
}
.modalTodosOsFilmes {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}
.modalTodosOsFilmes1 {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}
.modalTodosOsFilmes2 {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}
.modalTodosOsFilmes3 {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}
.modalTodosOsFilmes4 {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}
.modalTodosOsFilmes5 {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}
.modalTodosOsFilmes6 {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}
.modalTodosOsFilmes7 {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}
.modalTodosOsFilmes8 {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}
.modalTodosOsFilmes9 {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}
.modalTodosOsFilmes10 {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}
.modalTodosOsFilmes11 {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}
.modalTodosOsFilmes12 {
  width: 900px;
  height: 600px;
  background-color: #000000;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}

iframe {
  margin-top: .1rem;
  margin-left: 1.4rem;
  border-radius: 1.0rem;
}

span.fechar {
  position: absolute;
  top: 1.0rem;
  right: 2.0rem;
  font-size: 2.8rem;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}

span.fechar:hover {
  color: red;
}

@keyframes animate {
  from {
    opacity: 1;
  }

  from {
    opacity: 0;
  }
}


/* @media screen and (min-width: 1024px) {
  .filme {
    flex-wrap: wrap;
  }
} */