body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #333;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 84%;
}

header {
  display: flex;
  flex-direction: column;
  width: 96.6%;
  background-color: #000000;
  color: #fff;
  padding: 2.0rem;
  border-radius: 1.0rem;
  border: .4rem solid #3498db;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  font-size: 1.7rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1.0rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.voltar {
  margin-left: 12rem;
}

main {
  display: flex;
  flex-direction: column;
  width: 96.6%;
  padding: 2.0rem;
  align-items: center;

}

.todosOsFilmes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.modalSobre h1 {
  margin-top: 3.0rem;
  position: flex;
  color: white;
  text-align: center;
  font-size: 2.0rem;
}

h1 {
  position: flex;
  color: white;
  text-align: center;
  font-size: 2.0rem;
}

h2 {
  margin-top: 4.0rem;
  color: white;
  text-align: center;
  font-size: 2.0rem;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
}

h4 {
  color: white;
  text-align: center;
}

p {
  text-align: center;
  color: white;

}

.filme {
  width: 20rem;
  height: 29rem;
  margin-top: 2rem;
  background-color: #ffffff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: .4rem solid #3498db;
}

.filme2 {
  width: 20rem;
  height: 29rem;
  margin-top: -33.6rem;
  margin-left: 30rem;
  background-color: #fff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: .4rem solid #3498db;

}

.filme3 {
  width: 20rem;
  height: 29rem;
  margin-top: -33.6rem;
  margin-left: 60rem;
  background-color: #fff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: .4rem solid #3498db;

}

.filme img {
  width: 100%;
  max-width: 177px;
  margin-bottom: .0rem;
  margin-left: 4.0rem;
}

.filme2 img {
  width: 100%;
  max-width: 12.6rem;
  margin-bottom: .0rem;
  margin-left: 4.0rem;
}

.filme3 img {
  width: 100%;
  max-width: 177px;
  margin-bottom: .0rem;
  margin-left: 4.0rem;
}

.fil0 img {
  margin-left: 4.0rem;
}

.fil1 img {
  margin-left: 4.0rem;
}

.fil2 img {
  margin-left: 4.0rem;
}

.fil3 img {
  margin-left: 4.0rem;
}

.fil4 img {
  margin-left: 4.0rem;
}

.fil5 img {
  margin-left: 4.0rem;
}

.fil6 img {
  margin-left: 4.0rem;
}

.fil7 img {
  margin-left: 4.0rem;
}

.fil8 img {
  margin-left: 4.0rem;
}

.fil9 img {
  margin-left: 4.0rem;
}

.fil10 img {
  margin-left: 4.0rem;
}

.fil11 img {
  margin-left: 4.0rem;
}

.fil12 img {
  margin-left: 4.0rem;
}

.fil13 img {
  margin-left: 4.0rem;
}

.fil14 img {
  margin-left: 4.0rem;
}

.botao {
  margin-left: 1.8rem;
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: .8rem 1.2rem;
  text-decoration: none;
  border-radius: .4rem;
  cursor: pointer;
}

.Botao {
  margin-left: 7.5rem;
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: .8rem 1.2rem;
  text-decoration: none;
  border-radius: .4rem;
  cursor: pointer;
}

.fil0 {
  width: 20rem;
  height: 29rem;
  margin-top: 2rem;
  margin-left: -111.4rem;
  background-color: #ffffff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: 4px solid #3498db;
}

.fil1 {
  width: 20rem;
  height: 29rem;
  margin-top: -34.8rem;
  margin-left: -56rem;
  background-color: #fff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: 4px solid #3498db;
}

.fil2 {
  width: 20rem;
  height: 29rem;
  margin-top: -33.4rem;
  background-color: #fff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: 4px solid #3498db;

}

.fil3 {
  width: 20rem;
  height: 29rem;
  margin-top: -33.4rem;
  margin-left: 55rem;
  background-color: #ffffff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: 4px solid #3498db;

}

.fil4 {
  width: 20rem;
  height: 29rem;
  margin-top: -33.4rem;
  margin-left: 110.7rem;
  background-color: #ffffff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: 4px solid #3498db;

}

.fil5 {
  width: 20rem;
  height: 29rem;
  margin-top: 2rem;
  margin-left: -111.4rem;
  background-color: #ffffff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: 4px solid #3498db;

}

.fil6 {
  width: 20rem;
  height: 29rem;
  margin-top: -33.4rem;
  margin-left: -56rem;
  background-color: #fff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: 4px solid #3498db;

}

.fil7 {
  width: 20rem;
  height: 29rem;
  margin-top: -33.4rem;
  background-color: #fff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: 4px solid #3498db;

}

.fil8 {
  width: 20rem;
  height: 29rem;
  margin-top: -33.4rem;
  margin-left: 55rem;
  background-color: #ffffff;
  padding: 2.0rem;
  border-radius: .1rem;
  border: 4px solid #3498db;

}

.fil9 {
  width: 20rem;
  height: 29rem;
  margin-top: -33.4rem;
  margin-left: 110.7rem;
  background-color: #ffffff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: 4px solid #3498db;

}

.fil10 {
  width: 20rem;
  height: 29rem;
  margin-top: 2rem;
  margin-left: -111.4rem;
  background-color: #ffffff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: 4px solid #3498db;

}

.fil11 {
  width: 20rem;
  height: 29rem;
  margin-top: -33.4rem;
  margin-left: -56rem;
  background-color: #fff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: 4px solid #3498db;

}

.fil12 {
  width: 20rem;
  height: 29rem;
  margin-top: -33.4rem;
  background-color: #fff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: 4px solid #3498db;

}

.fil13 {
  width: 20rem;
  height: 29rem;
  margin-top: -33.4rem;
  margin-left: 110.7rem;
  background-color: #ffffff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: 4px solid #3498db;

}

.fil14 {
  width: 20rem;
  height: 29rem;
  margin-top: -33.4rem;
  margin-left: 55rem;
  background-color: #ffffff;
  padding: 2.0rem;
  border-radius: 1rem;
  border: 4px solid #3498db;

}

footer {
  width: 98.6%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #fff;
  padding: 1.0rem;
  text-align: center;


}

footer p {
  font-size: 1.5rem;
}

.modal {
  width: 900px;
  height: 600px;
  background-color: #333;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}

.modal1 {
  width: 900px;
  height: 600px;
  background-color: #333;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}

.modal2 {
  width: 900px;
  height: 600px;
  background-color: #333;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}

.modalSobre {
  width: 750px;
  height: 600px;
  background-color: #333;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
}

.modalSinopse {
  width: 750px;
  height: 330px;
  background-color: #333;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
  padding: .9rem;
}

.modalSinopse1 {
  width: 750px;
  height: 360px;
  background-color: #333;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
  padding: .9rem;
}

.modalSinopse2 {
  width: 790px;
  height: 310px;
  background-color: #333;
  border: 4px solid #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1000ms;
  border-radius: 1.0rem;
  padding: .9rem;
}

iframe {
  margin-top: .1rem;
  margin-left: 1.4rem;
  border-radius: 1.0rem;
}

span.fechar {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}

span.fechar:hover {
  color: red;
}

@keyframes animate {
  from {
    opacity: 1;
  }

  from {
    opacity: 0;
  }
}

/* 
@media screen and (min-width: 1280px) {
  header {  
      width: 100%;
  }
} */